// Here you can add other styles
body{
  letter-spacing: 0.05em;
}
.main .container-fluid{
  padding: 0
}
.custom-file-control::before {
  content: '选择文件' !important;
}
.custom-file-control::after {
  content: '还未选择文件' !important;
}
.form-control{
  -webkit-appearance: none;
}
.input-group .form-control{
  // z-indenx
}
*:focus, *:active{
  outline: none;
}
.page-item .page-link.active:focus{
  box-shadow: none !important;

}
[name="editorValue"]{
  display: none;
}
.v-select .dropdown-toggle{
  border-radius: 0 !important;
  
}
input.input{
  border-radius: 0 !important;
}

.form-inline .multiselect{
  display: inline-block;
  width: auto;
}

.multiselect__tags{
  border-radius: 0 !important;
}
.multiselect{
  position: inherit;
  z-index: 9 !important;
}
.multiselect__content-wrapper{
  
}
.sidebar-fixed .sidebar{
  z-index: 999 !important;
}
.break-all{
  word-break: break-all;
}