// Boostrap variables
// @import "bootstrap-variables";

// Import Bootstrap source files
// @import "node_modules/bootstrap/scss/bootstrap";
// @import "functions";
// @import "variables";
// @import "mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/utilities";
// Custom styles
// @import "custom";
// @import "skin";

.card {
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.rounded{
  border-radius: 4px;
}


*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}

.el-form-item .el-form-item {
  margin-bottom: 22px;
}
.el-form--inline .el-form-item {
  margin-bottom: 0.5rem;
}
