// Boostrap variables
// @import "bootstrap-variables";

// Import Bootstrap source files
// @import "node_modules/bootstrap/scss/bootstrap";
// @import "functions";
// @import "variables";
// @import "mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/utilities";
// Custom styles
// @import "custom";
// @import "skin";

:root{
  --dark-bg: #29363d;
}

.card {
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.rounded{
  border-radius: 4px;
}


  
.el-input, .el-select,.el-textarea{
  width: 100%;
  max-width: 25rem;
}
.el-form-item .el-form-item {
  margin-bottom: 22px;
}
.el-form--inline .el-form-item {
  margin-bottom: 0.5rem;
}


.el-upload-list--picture-card .el-upload-list__item{
  vertical-align: middle;
}
.el-upload-list--picture-card .el-upload-list__item-thumbnail{
  height: auto;
}

.single-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  cursor: pointer;
  position: relative;  
  padding: 0.5rem;
  // overflow: hidden;
}
.single-uploader .el-upload:hover {
  border-color: #409EFF;
}
.single-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  text-align: center;
}
.single-uploader .img-preview {
  max-height: 10rem;
  max-width: 100%;
}
.fs-sm{
  font-size: 0.85rem;
}
.fs-xs{
  font-size: 0.75rem;
}